@import url('components/sections/hero.css');
@import url('components/cards/card-s.css');
@import url('components/cards/card-l.css');

main {
    min-width: 90vw;
}

.hide::-webkit-scrollbar {
    display: none;
}

.hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* All Sections */
.section__header {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}

/* About and projects */
.hero {
    height: 100vh;
}

.about,
.projects,
.passion-project,
.contact-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 var(--padding-small);
    min-height: 100vh;
    margin-top: var(--margin-medium);
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    justify-self: center
}

.projects__heading,
.passion-project__heading,
.contact__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-black);
}


.project-cards,
.education-cards,
.passion-product-cards,
.contact-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--margin-medium);
    gap: var(--gap-medium);
    justify-content: center;
    background-color: var(--color-white);
}

/* Media queries */
/* Mobile 400px */
@media (min-width: 600px) {

    .project-cards,
    .education-cards,
    .passion-product-cards,
    .contact-cards {
        gap: var(--gap-small);
    }
}

/* Laptop 1024px */
@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__header {
        max-width: 1024px;
        width: 100%;
    }
}

/* Laptop L 1200px */
@media (min-width: 1200px) {

    .event-cards,
    .education-cta__header,
    .education-cards {
        padding-left: 0;
        padding-right: 0;
    }

    .events-cta__heading,
    .exhibitions-cta__heading {
        padding-left: 0;
    }
}

.linkedin-icon::after {
    content: "\f08c";
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 3rem;
}

.github-icon::after {
    content: "\f09b";
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 3rem;
}

.email-icon::after {
    content: "\f0e0";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3rem;
}

.linkedin-icon.linkedin-icon--pink,
.github-icon.github-icon--pink,
.email-icon.email-icon--pink {
    color: var(--color-funpink);
}