.footer {
    display: grid;
    width: 100%;
    padding: var(--padding-large) var(--padding-small);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'follow'
        'links'
        'contact'
        'copyright';
    background-color: var(--color-white);
    color: var(--color-white);
    grid-area: footer;
}

.follow {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    padding: 2.5rem 1.5rem 1.25rem;
    gap: 24px;
    grid-area: follow;
    border-radius: 0.5rem 0.5rem 0 0;
}

.some {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.some__links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--color-black);
    padding: 1.25rem 1.5rem 2.5rem;
    grid-area: links;
    gap: var(--gap-large);
}

.links a {
    text-decoration-line: underline;
    text-decoration-thickness: 0.11em;
    text-decoration-color: rgba(254, 254, 254, 0);
    transition: text-decoration-color 1s;
}

.links a:hover {
    text-decoration-color: rgba(254, 254, 254, 1);

}

.links__visit,
.links__involved {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    padding: 24px 24px 20px 24px;
    border-top: 1px solid var(--color-white);
    grid-area: copyright;
    border-radius: 0 0 0.5rem 0.5rem;

}

.copyright__text {
    text-align: center;
    font-size: var(--body-xsmall);
}

.fa-brands,
.fa-solid,
a {
    color: var(--color-white);
    text-decoration: none;
}

.fa-brands,
.fa-solid {
    font-size: var(--heading-small);
}

.footer-heading {
    font-weight: var(--font-weight-semibold);
}

.newsletter__button {
    align-self: flex-start;
}

/* Media queries */
@media (min-width: 500px) {
    .footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'follow links'
            'copyright copyright';
    }

    .links,
    .follow {
        padding: var(--padding-xxlarge) var(--padding-medium);
    }

    .links {
        border-radius: 0 0.5rem 0 0;
    }

    .follow {
        border-radius: 0.5rem 0 0 0;

    }
}

/* Tablet 768 */
@media (min-width: 768px) {

    .links,
    .follow {
        padding: var(--padding-xxlarge);
    }

    .links {
        justify-content: space-around;
    }
}

/* Laptop 1024 */